<% extend ('../partials/template') %>

<form id="signup_form" method="post">
    <div>
        <label for="user_name_input">User Name:</label>
        <input type="text" name="user_name_input" value="<%= one_user.user_name %>" id="user_name_input">
        <span id="error_msg_name"></span>
    </div>


    <div>
        <label for="user_email_input">Email:</label>
        <input type="text" name="user_email_input" value="<%= one_user.user_email %>" id="user_email_input">
        <span id="error_msg_email"></span>
        <span id="email_check"></span>
    </div>

    <div>
        <label for="user_password_input">Password:</label>
        <input type="password" name="user_password_input" value="" id="user_password_input">
        <span id="error_msg_password"></span>
    </div>

    <div>
        <label for="user_password_repeat_input">Repeat:</label>
        <input type="password" name="user_password_repeat_input" value="" id="user_password_repeat_input">
        <span id="error_msg_repeat"></span>
    </div>

    <button>Gem</button>
    <a href="/">Annuler</a>
</form>


<script>
    document.querySelector('#signup_form button').addEventListener('click', (event) => {
        event.preventDefault();
        let form_valid = true;
        let error_msg_name = document.getElementById("error_msg_name");
        let error_msg_email = document.getElementById("error_msg_email");
        let error_msg_password = document.getElementById("error_msg_password");
        let error_msg_repeat = document.getElementById("error_msg_repeat");
        let form = document.querySelector('#signup_form');

        error_msg_name.textContent = "";
        error_msg_email.textContent = "";
        email_check.textContent = "";
        error_msg_password.textContent = "";
        error_msg_repeat.textContent = "";

        // her foretages valideringen som normalt.
        if (form.user_name_input.value == "") {
            form_valid = false;
            error_msg_name.textContent = "type your username";
        }

        if (form.user_email_input.value == "") {
            form_valid = false;
            error_msg_email.textContent = "type your email";
        }

        if (form.user_email_input.value != "" && !validateEmail(user_email_input.value)) {
            form_valid = false;
            document.getElementById('email_check').textContent = user_email_input.value + " is not a valid email";

        }

        if (form.user_password_input.value == "" || form.user_password_input.value == undefined) {
            form_valid = false;
            error_msg_password.textContent = "choose password";
        }

        if (form.user_password_input.value != form.user_password_repeat_input.value) {
            form_valid = false;
            error_msg_repeat.textContent = "passwords do not match";
        }
        // når valideingen er ok, sendes form data
        if (form_valid == true) {
            form.submit();
        }
    })
</script>