<% extend ('../partials/template') %>

<div class="activate-account-box">
    <h1>Congratulations</h1>
    <p><strong>Your account has been created, you've recived an email containing your account's activation link</strong></p>
    <p>You need to activate your account before you can login</p>
    <a href="/login" class="btn btn-primary">Go to Login page</a>
</div>